.client {
  @extend %section;

  &__container {
    @extend %container;
  }
  &__title {
    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: calc(33 / 28);
      text-align: center;
      letter-spacing: 0.03em;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 36px;
      line-height: calc(42 / 36);
      letter-spacing: 0.03em;
      text-align: center;
    }
  }
  &__list {
    @extend %list;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: var(--gap);
      margin-left: calc(-1 * var(--gap));
    }
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: var(--gap);
      margin-left: calc(-1 * var(--gap));
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }
  &__item {
    @media screen and (max-width: 767px) {
      width: 210px;
      height: 92px;
      flex-basis: calc((100% - 2 * var(--gap)) / 2);
      margin-left: var(--gap);
      margin-bottom: var(--gap);
    }
    @media screen and (min-width: 768px) {
      width: 226px;
      height: 92px;
      flex-basis: calc((100% - 3 * var(--gap)) / 3);
      margin-left: var(--gap);
      margin-bottom: var(--gap);
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
      height: 92px;
      margin-left: 30px;

      &:first-child {
        margin-left: 0px;
      }
    }
  }
  &__link {
    @extend %link;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    background-color: var(--main-white-color);
    fill: var(--icons-color);
    transition: fill 250ms var(--timings), background-color 250ms var(--timings),
      border-color 250ms var(--timings);

    &:hover,
    &:focus {
      fill: var(--accent-color);
      background-color: var(--main-white-color);
      border-color: var(--accent-color);
    }
  }
}
