.features {
  @extend %section;

  &__conteiner {
    @extend %container;
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;

    background: var(--bg-color);
    border-radius: 4px;
  }

  &__list {
    @extend %list;
    @include mq(phone-only) {
      display: flex;
      flex-wrap: wrap;
    }
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * var(--gap));
      margin-bottom: calc(-1 * var(--gap));
    }
    @include mq(desktop) {
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * var(--gap));
      margin-bottom: calc(-1 * var(--gap));
    }
  }
  &__item {
    @include mq(phone-only) {
      &:not(:last-child) {
        margin-bottom: var(--gap);
      }
    }
    @include mq(tablet) {
      flex-basis: calc((100% - 2 * var(--gap)) / 2);

      margin-left: var(--gap);
      margin-bottom: var(--gap);
    }

    @include mq(desktop) {
      flex-basis: calc((100% - 4 * var(--gap)) / 4);

      margin-left: var(--gap);
      margin-bottom: var(--gap);
    }
  }
  &__title {
    margin-top: 30px;

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include mq(phone-only) {
      text-align: center;
    }
  }
  &__pre-title {
    margin-top: 10px;

    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: var(--second-color-text);
  }
}
