.footer {
  background-color: var(--second-bg-color);

  &__container {
    @extend %container;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      padding: 60px 0;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: baseline;

      padding: 60px 0;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      /* justify-content: space-between; */
      align-items: baseline;
    }
  }

  &__address {
    @extend %link;
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--main-white-color);

    transition: color 250ms var(--timings);
    &-page {
      margin-top: 20px;
    }
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__list {
    @extend %list;
    @media screen and (max-width: 1199px) {
      align-items: center;
      justify-content: center;
    }
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-top: 9px;
  }
  &__contacts {
    @extend %link;

    font-style: normal;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--clear-color-text);

    transition: color 250ms var(--timings);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
/* приєднуйся */
.join {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    // align-items: center;
    // justify-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 72px;
    margin-left: 70px;
  }

  &__title {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-color);
  }
  &__list {
    @extend %list;

    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  &__social-item {
    width: 44px;
    height: 44px;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
  &__social-icon {
    fill: currentColor;
  }
  &__social-link {
    @extend %link;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--main-white-color);
    background: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--timings);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}
/* підпишись */
.subscription {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    // margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__form {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: flex-end;
    }
  }
  &__mail {
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: column;
      // width: 358px;
    }
  }
  &__label {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
    }
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-white-color);
  }
  &__button {
    @media screen and (max-width: 1199px) {
      display: flex;

      margin-top: 20px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
    display: flex;
    position: relative;
    width: 200px;

    padding: 10px 28px;

    transition: background-color 250ms var(--timings);
  }
  &__icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);

    fill: var(--main-white-color);
  }
  &__input {
    @media screen and (max-width: 1199px) {
      width: 80vw;
    }
    @media screen and (min-width: 768px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
    margin-top: 20px;
    height: 50px;

    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: var(--main-white-color);
    background-color: var(--second-bg-color);

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
    &:hover,
    &:focus {
      border-color: var(--accent-color);
      border: 1px solid #2196f3;
      border-radius: 4px;
    }
  }
}
