.header {
  @extend %container;

  border-bottom: 1px solid #ececec;

  &__container {
    display: flex;
    align-items: center;
  }

  @include mq(phone-only) {
    display: flex;
    align-items: center;
  }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   align-items: center;
  // }

  &__group {
    @extend %list;
    @include mq(phone-only) {
      display: none;
    }
    @include mq(tablet) {
      display: inline-block;
      align-items: center;
      margin-left: auto;
    }
    @include mq(desktop) {
      display: flex;
      margin-left: auto;
    }
  }
  &__contact {
    @extend %link;
    @include mq(desktop) {
      display: flex;
      align-items: center;
      padding: 32px 0;
    }

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: var(--second-color-text);

    transition: color 250ms var(--timings);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  &__item + &__item {
    @include mq(desktop) {
      margin-left: 40px;
    }
    @include mq(tablet-only) {
      margin-top: 10px;
    }
  }

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav {
  @include mq(phone-only) {
    display: none;
  }
  margin-left: 93px;
  @include mq(tablet) {
    margin-left: 88px;
  }
  &_list {
    @extend %list;
    display: flex;
  }
  &__item + &__item {
    margin-left: 50px;
  }
  &__link {
    @extend %link;

    display: block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color-text);

    transition: color 250ms var(--timings);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
