.logo {
  @extend %link;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: calc(28 / 26);
  }

  &__change {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-white-color);

    &--color {
      color: var(--black-color);

      @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: calc(28 / 26);
      }
    }
  }
}
