.portfolio {
  @extend %section;

  &__container {
    @extend %container;
  }
  &__filter-list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__filter-item + &__filter-item {
    margin-left: 8px;
  }
  &__button {
    cursor: pointer;
    @media screen and (max-width: 767px) {
      padding: 6px 25px;
    }
    @media screen and (min-width: 1200px) {
      padding: 6px 22px;
    }

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    background-color: var(--bg-color);
    border-radius: 4px;
    border: 0;

    transition: color 250ms var(--timings), background-color 250ms var(--timings),
      box-shadow 250ms var(--timings), border-radius 250ms var(--timings);

    &:hover,
    &:focus {
      color: var(--main-white-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
    }
  }

  /* Картки */
  &__card-list {
    @extend %list;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      // margin-left: calc(-1 * var(--gap));
      // margin-top: calc(-1 * var(--gap));
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 50px;
      margin-left: calc(-1 * var(--gap));
      margin-top: calc(-1 * var(--gap));
    }
  }
  &__card-link {
    @extend %link;
    @media screen and (max-width: 767px) {
      width: 450px;
    }
    display: flex;
    flex-direction: column;

    background: var(--main-white-color);
    border: 1px solid #eeeeee;

    transition: background-color 250ms var(--timings), border 250ms var(--timings),
      box-shadow 250ms var(--timings);

    &:hover .portfolio__pre-title,
    &:focus .portfolio__pre-title {
      transform: translateY(0);
    }
    &:hover,
    &:focus {
      background-color: #ffffff;
      border: 1px solid #eeeeee;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__card-item {
    @media screen and (max-width: 767px) {
      display: flex;

      // flex-basis: calc((100% - 3 * var(--gap)) / 3);
      // margin-left: var(--gap);
      &:not(:first-child) {
        margin-top: var(--gap);
      }
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-basis: calc((100% - 3 * var(--gap)) / 3);
      margin-left: var(--gap);
      margin-top: var(--gap);
    }
  }
  &__card-thumb {
    position: relative;
    overflow: hidden;

    &:hover {
      transform: translateY(0);
    }
  }
  &__pre-title {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

    transition: transform 250ms var(--timings);
    transform: translateY(101%);
  }

  &__card-content {
    padding: 20px 24px;
  }
  &__project-list {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-color-text);
  }
  &__project-title {
    margin-top: 4px;

    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--second-color-text);
  }
}
