.team {
  // @include section;

  background-color: var(--bg-color);

  &__container {
    @extend %container;

    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__item {
    background-color: var(--main-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__list {
    @extend %list;

    display: flex;
    margin-top: 50px;
    margin-left: calc(-1 * var(--gap));
  }
  &__item {
    flex-basis: calc((100% - 4 * var(--gap)) / 4);
    margin-left: var(--gap);
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
  }
  &__content {
    padding: 30px;
  }
  &__profession {
    margin-top: 10px;

    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--second-color-text);
  }
}
.social {
  @extend %list;

  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__link {
    @extend %link;

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: var(--main-white-color);
    color: var(--icons-color);

    transition: background-color 250ms var(--timings), color 250ms var(--timings);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      color: var(--main-white-color);
      outline: none;
    }
  }
  &__icons {
    fill: currentColor;
  }
}
