:root {
  --main-color-text: #212121;
  --second-color-text: #757575;
  --accent-color: #2196f3;
  --black-color: #000000;
  --main-white-color: #ffffff;
  --second-bg-color: #2f303a;
  --bg-color: #f5f4fa;
  --activ: #188ce8;
  --clear-color-text: rgba(255, 255, 255, 0.6);
  --gap: 30px;
  --icons-color: #afb1b8;
  --timings: cubic-bezier(0.4, 0, 0.2, 1);
}
