// %section {
//   padding: 94px 0;
// }

%container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

%link {
  text-decoration: none;
}

%list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
