$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1200px,
);
%section {
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
%container {
  margin: 0 auto;
  padding: 0 15px;

  // phone screen
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  // tablet screen
  @media screen and (min-width: 768px) {
    width: 768px;
  }

  // desktot screen
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

%link {
  text-decoration: none;
}

%list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
