.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  color: var(--main-white-color);
  background-color: var(--accent-color);
  cursor: pointer;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--timings);

  &:focus,
  &:hover {
    background-color: var(--activ);
  }
}
// .ripple {
//   position: absolute;
//   border-radius: 50%;
//   background-color: rgba(255, 255, 255, 0.3);
//   border: 1px solid rgba(255, 255, 255, 0.5);

//   animation: button-circle 2s ease forwards;
// }
// @keyframes button-circle {
//   0% {
//     transform: scale(0);
//   }
//   100% {
//     transform: scale(20);
//     opacity: 0;
//   }
// }
