.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu__link {
  @extend %link;

  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;

  color: inherit;
}
.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__link:hover,
.menu__link:focus {
  text-decoration: underline;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.mobile-contacts {
  @extend %list;
}
.mobile-contacts-tell {
  @extend %link;

  font-weight: 500;
  font-size: 34px;
  line-height: 40px;

  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.mobile-contacts-mail {
  @extend %link;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: var(--second-color-text);
}
.mobile-socials {
  @extend %list;

  display: flex;
  gap: 20px;
}

.mobile-socials-link {
  @extend %link;
  position: relative;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 0.02em;

  color: var(--accent-color);

  &::after {
    content: '';

    position: absolute;

    top: 50%;

    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
