.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@include mq(phone-only) {
  .menu {
    display: none;
  }
}

.menu__link {
  @extend %link;

  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;

  color: inherit;
}
.menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

@include mq(tablet) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--main-white-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: visible;
  visibility: visible;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.mobile-contacts {
  @extend %list;
}
.mobile-contacts-tell {
  @extend %link;

  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);

  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.mobile-contacts-mail {
  @extend %link;

  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--second-color-text);
}
.mobile-socials {
  @extend %list;

  display: flex;
  // justify-content: flex-start;
  gap: 10px;
  margin-top: 64px;
  &-item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    &:last-child {
      border: none;
    }
  }
}
.mobile-socials-link {
  @extend %link;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;

  color: var(--accent-color);
}
